server:
  port: 8099

spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/eduflow
    username: admin
    password: "codie7APjYQSu"
    driver-class-name: org.postgresql.Driver

  h2:
    console:
      enabled: false

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    com.eduflow: INFO
    org.springframework.security: WARN
    org.hibernate.SQL: WARN
