spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:eduflow}
    driver-class-name: org.postgresql.Driver
    username: ${DB_USERNAME:eduflow}
    password: ${DB_PASSWORD:}

  h2:
    console:
      enabled: false

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    com.eduflow: INFO
    org.springframework.security: WARN
    org.hibernate.SQL: WARN
